<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <h1>Cadastre um novo cliente</h1>

    <form action="/create" method="post">
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name"> 

        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" id="cpf"> 
        
        <label for="number">Telefone:</label>
        <input type="text" name="number" id="number"> 

        <label for="email">Email:</label>
        <input type="text" name="email" id="email"> 

        <label for="address">Endereço:</label>
        <input type="text" name="address" id="address"> 

        <label for="debt">Débito</label>
        <input type="text" name="debt" id="debt"> 

        <button type="submit">CADASTRAR</button>
    </form>
</body>
</html>